{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block page_title %}Panel de Control Principal{% endblock %}

{% block page_description %}
    Bienvenido al sistema inteligente de análisis con IA y Big Data. 
    Explora las diferentes funcionalidades disponibles en las pestañas superiores.
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">{{ titulo if titulo else "Panel de Control Principal" }}</h1>
    <p class="page-description">
        {{ descripcion if descripcion else "Bienvenido al sistema inteligente de análisis con IA y Big Data. Explora las diferentes funcionalidades disponibles en las pestañas superiores." }}
    </p>
</div>
  <div class="page-content">
        <iframe title="Aire" style="height:40vh"
                src="https://app.powerbi.com/view?r=eyJrIjoiOWFiN2RmZTctODJiZC00NGNkLTg1OGEtNjgwNzNkZDc5NGY2IiwidCI6IjczZGQxMTE0LWVmN2QtNDBjNy04NjY5LTU2OWQzMmU3ZTI5YiIsImMiOjl9"
                allowfullscreen>
        </iframe>
    </div>
{% endblock %}
